.main {
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
}


@import "./header";
@import "./auth";
@import "./articles";

.catalog__tabs {
  display: flex;
}

.catalog__tab {
  min-width: 150px;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;

  &--active {
    color: #ff923a;
  }
}