.auth {
  width: 500px;
  max-width: 100%;
  margin: 170px auto 0;
}

.auth__link {

}

.auth__form {
  margin-top: 15px;
}

.auth__form__input {
  display: block;
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  height: 40px;
  box-sizing: border-box;
  padding: 0 10px;
  outline: none;

  & + & {
    margin-top: 20px;
  }

  &:focus {
    border-color: green;
  }
}

.auth__form__btn {
  display: block;
  margin: 20px auto 0;
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.form__errors {
  color: #b21010;
  font-size: 16px;
}

.form__error {
  margin: 5px 0;

  &:first-letter {
    text-transform: uppercase;
  }
}